.form-wrap {
  overflow: hidden;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  @media (min-width: 900px) {
    width: 100%;
  }

  .login-register {
    margin-bottom: 30px;

    .router-link {
      color: #000;
    }
  }

  form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 340px;
    padding: 20px;
    backdrop-filter: blur(10px);
    background: rgba(#272932, 0.8);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;

    a {
      text-decoration: none;
      margin-bottom: 20px;
    }

    p {
      font-size: 32px;
      color: $light;
      margin-bottom: 20px;
    }

    .login-button {
      margin-top: 20px;
      width: fit-content;
    }
  }
}