.colective {
  // overflow: hidden;
  overflow: auto;
  min-height: 100vh;

  &.no-scroll {
    max-height: 100vh;
  }

  &-content {
    display: flex;
    flex-direction: row;
    align-content: center;
    // transition: all linear 0.2s;

    transition: transform 0.5s;
    transform-style: preserve-3d;

    .face {
      // text-align: center;
      backface-visibility: hidden;
    }

    .back {
      backface-visibility: hidden;
      transform: rotateY(180deg);
    }

    .bubbles, .list {
      min-width: 100vw;
      position: absolute;
    }
    .bubbles {
      margin-top: 45px;

      .team-name {
        color: $light;
        font-size: 24px;
        text-align: center;
        position: absolute;
        width: 100vw;
        transform: translateY(-100%);
      }
    }
    .list {
      .team-name {
        color: $light;
        font-size: 30px;
        width: 100%;
        text-align: center;
      }
    }
  }
}