.new-item {
  padding: 0 16px 50px;
  &::before {
    content: '';
    display: block;
    height: 80px;
    width: 100%;
  }

  @media (min-width: 768px) {
    max-width: 600px;
    margin: auto;
  }

  &.project {
    padding-top: 0;
  }

  form {
    padding: 20px;
    backdrop-filter: blur(10px);
    background: rgba(#272932, 0.8);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
  }
}