.edit {
  margin: 0 20px 140px;
  padding: 20px;
  transform: translateY(80px);
  backdrop-filter: blur(10px);
  background: rgba(#272932, 0.8);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;

  @media (min-width: 768px) {
    max-width: 600px;
    margin: 0 auto 140px;
  }

  &.employee {
      /deep/ .photo-container {
        .img-container {
          img{
            min-width: 140px;
            @media (min-width: 768px) {
              min-width: 220px;
            }
          }
        }
      }
  }

  /deep/ .photo-container {
    @media (min-width: 768px) {
      margin-bottom: 200px;
      .input-container {
        cursor: pointer;
        label {
          padding-top: 85px;
          width: 150px;
        }
      }

      input {
        width: 150px;
        height: 150px;
        cursor: pointer;
      }

      .img-container {
        width: 150px;
        height: 150px;
        img {
          min-width: 140px;
          width: unset;
          height: unset;
          cursor: pointer;
        }
      }
    }
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
}