.edit {
  padding: 0 16px 60px;

  @media (min-width: 768px) {
    max-width: 600px;
    margin: auto;
  }

  /deep/ .photo-container {
    @media (min-width: 768px) {
      margin-bottom: 200px;
      .input-container {
        cursor: pointer;
        label {
          padding-top: 85px;
        }
      }

      input {
        width: 150px;
        height: 150px;
        cursor: pointer;
      }

      .img-container {
        width: 150px;
        height: 150px;
        img {
          width: 150px;
          height: 150px;
          cursor: pointer;
        }
      }
    }
  }

  &.project {
    padding-top: 65px;
  }
  .button-container {
    display: flex;
    justify-content: space-between;
  }
}