.item {
  list-style-type: none;
  width: 100%;
  margin: 20px 0 30px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  backdrop-filter: blur(10px);
  background-color: rgba($light, 0.2);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease-in 0.1s;

  &:hover {
    background-color: rgba($light, 0.3);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  &-info {
    flex-grow: 1;
    padding-right: 20px;

    &-name {
      font-size: 18px;
      color: $white;

      @media (min-width: 768px) {
        font-size: 22px;
      }

      & > div {
        margin-right: 10px;
        display: inline-block;
      }
    }

    &-about {
      color: $light;
      margin-top: 5px;
      font-size: 14px;
      font-weight: normal;
    }
  }

  &-image {
    min-width: 80px;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid $light;

    @media (min-width: 768px) {
      width: 100px;
      min-width: 100px;
      height: 100px;
    }

    img {
      max-width: 120px;
      max-height: 120px;

      @media (min-width: 768px) {
        max-width: 140px;
        max-height: 140px;
      }
      // min-width: 120px;
      // min-height: 120px;
      // width: 100px;
      // height: 100px;
      // border-radius: 50%;
      // border: 5px solid $white;
      // box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    &-placeholder {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: $light;
      border: 5px solid $white;
    }
  }
}