.profile {
  padding: 10px 20px 40px;
  // padding: 20px;
  margin: 0 20px 140px;
  transform: translateY(80px);
  backdrop-filter: blur(10px);
  background: rgba(#272932, 0.8);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;

  @media (min-width: 768px) {
    max-width: 600px;
    margin: 0 auto 140px;
  }

  &.client, &.project {
    /deep/ .item {
      flex-direction: column-reverse;
      margin: 20px 0 10px;

      &-image {
        margin-bottom: 20px;
      }

      &-info {
        padding-right: 0;
        text-align: center;
        &-name {
          font-size: 20px;
          margin-bottom: 20px;
          & > div {
            margin-right: 0;
          }
        }
        &-about {
          font-size: 16px;
        }
      }
    }
  }

  /deep/ .item {
    flex-direction: column-reverse;
    align-items: flex-start;
    margin: 20px 0 10px;
    background: none;
    padding: 0;
    border: none;
    box-shadow: none;
    backdrop-filter: none;

    &:hover {
      background: none;
    }

    &-image {
      @media (min-width: 768px) {
        // min-width: 150px;
        // min-height: 150px;
        width: 150px;
        height: 150px;
        margin-bottom: 20px;

        img {
          min-width: 220px;
          max-height: none;
          // height: unset;
        }
      }

      // img{
      //   min-width: 140px;
      //   height: unset;
      //   @media (min-width: 768px) {
      //     min-width: 220px;
      //   }
      // }

      // img, .item-image-placeholder {
      //   @media (min-width: 768px) {
      //     width: 150px;
      //   }
      // }
    }

    &-info {
      padding-right: 0;
      width: 100%;
      align-self: flex-start;

      &-name {
        text-align: left;
        font-size: 20px;
        margin-bottom: 20px;
        @media (min-width: 768px) {
          width: 100%;
        }

        & > div {
          margin-right: 5px;
          &:last-of-type {
            margin-right: 0;
          }
        }
      }
      &-about {
        font-size: 16px;
        text-align: left;
        @media (min-width: 768px) {
          margin: 15px 0;
        }
      }
    }
  }

  &-details {
    &.project {
      li {
        & > div {

          text-align: center;
          a {
            color: $light;
            font-weight: bold;
          }
        }
      }
    }
    li {
      list-style-type: none;
      margin: 10px 0;
      color: $light;
    }
  }
}