$white: white;
$light: #e7ecef;
$background: #272932;
$dark: #272932;
$active: #4587e1;
$badin-color: #4587e1;
$error: #f05d5e;
$beige: #d8a47f;
$badin-color-secondary: #d09964;
$select-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
